{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="/post/post.css">
{% endblock %}

{% block body %}

<div class="container mt-4">

{% for post in posts %}
<div class="timeline-item">

    <!-- timeline-time -->
    

    <!-- timeline-icon -->
    <div class="timeline-icon">
        <a href="javascript:;">&nbsp;</a>
    </div>

    <!-- timeline-body -->
    <div class="timeline-body">

        <!-- Header -->
        <div class="timeline-header">
            <span class="userimage">
                <img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="">
            </span>

            <span class="username">
                <a href="#">
                    {{ post.createdBy.firstName }} {{ post.createdBy.lastName }}
                </a>
            </span>
            <span class="date">
                {{ post.createdAt|date('d M Y') }}
            </span>
            <span class="time">
                {{ post.createdAt|date('H:i') }}
            </span>
        </div>

        <!-- Content -->
        <div class="timeline-content">
            <h5>{{ post.title }}</h5>
            <p>
                {{ post.content }}
            </p>
        </div>

        <!-- Likes & Stats -->
        <div class="timeline-likes">
            <div class="stats-right">
                <span class="stats-text">
                    {{ post.comments|length }} Comments
                </span>
            </div>

            <div class="stats">
                <span class="fa-stack fa-fw stats-icon">
                    <i class="fa fa-circle fa-stack-2x text-danger"></i>
                    <i class="fa fa-heart fa-stack-1x fa-inverse"></i>
                </span>

                <span class="stats-total">
                    {{ post.postLikes|length }}
                </span>
            </div>
        </div>

        <!-- Footer buttons -->
        <div class="timeline-footer">
            <a href="#"
               class="m-r-15 text-inverse-lighter">
                <i class="fa fa-thumbs-up fa-fw fa-lg m-r-3"></i> Like
            </a>

            <a href="#"
               class="m-r-15 text-inverse-lighter">
                <i class="fa fa-comments fa-fw fa-lg m-r-3"></i> Comment
            </a>
        </div>

        <!-- Comment form -->
        <div class="timeline-comment-box">
            <div class="user">
                <img src="https://bootdey.com/img/Content/avatar/avatar3.png">
            </div>

            <div class="input">
                <form method="post"
                      action="#">

                    <div class="input-group">
                        <input type="text"
                               name="content"
                               class="form-control rounded-corner"
                               placeholder="Write a comment...">

                        <span class="input-group-btn p-l-10">
                            <button class="btn btn-primary f-s-12 rounded-corner"
                                    type="submit">
                                Comment
                            </button>
                        </span>
                    </div>

                </form>
            </div>
        </div>

    </div>
</div>

<hr>

{% else %}
    <p>No posts yet.</p>
{% endfor %}

</div>

{% endblock %}
